body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: white;
    overflow-x: hidden; /* Asegura que no haya scroll horizontal */
    zoom: 100%;
}

.hero-section {
    height: 100vh;
    background-image: url('/header.webp'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* Añadido para posicionar el contenedor de imágenes */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #a07d48;
}

.hero-content {
    max-width: 600px;
    margin-top: 5%;
    margin-bottom: 60%;
    padding: 20px 50px;
    text-align: left;
    align-self: flex-start;
    z-index: 2; /* Asegura que esté por encima del fondo pero debajo del texto */
}

.hero-content h1 {
    font-size: 5rem;
    margin: 10px 0;
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.hero-content p {
    margin: 20px 0;
    line-height: 1.5;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c7955d;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #533c31;
}

.hero-image-slider {
    position: absolute;
    top: 50%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    overflow: hidden;
    z-index: 1; /* Asegura que esté por encima del fondo pero debajo del texto */
}

.hero-image-slider img {
    position: absolute;
    top: 27.8%;
    left: 28%;
    width: 500px;
    height: 300px;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
}

.hero-image-slider img.active {
    opacity: 1;
}

.hero-image-slider img.active {
    opacity: 1;
}

/* Estilos para la notificación */
.notification {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    transform: translateX(100%);
    transition: transform 0.5s ease;
    z-index: 2; /* Asegura que esté por encima del slider */
}

.notification.show {
    transform: translateX(0);
}

/* Animación de entrada de la notificación */
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
/* Estilos para el botón de la notificación */
.btn-notification {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #caae71;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-notification:hover {
    background-color: #a7855a;
}

.main {
    padding: 20px;
    background-color: #f4f4f4;
}

.mods-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    height: 500px;
    padding-bottom: 100px;
}


.card {
    position: relative;
    background-color: #2b2b2b;
    color: #000;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33% - 10px); /* Tres tarjetas por fila con espacio */
    margin-bottom: 20px;
    transition: transform 0.3s ease;
    height: 58%;
}

.card:hover {
    transform: scale(1.05);
}

.card-image {
    position: relative;
    width: 100%;
    height: 300px; /* Puedes ajustar la altura como necesites */
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Recorta la imagen para que cubra todo el contenedor */
    display: block;
    transition: filter 0.5s ease;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
    color: white;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.card-content p {
    margin: 0;
    font-size: 1rem;
}

.card:hover .card-content {
    opacity: 1; /* Muestra el texto al pasar el cursor */
}

.card:hover .card-image img {
    filter: blur(4px) brightness(70%); /* Difumina y oscurece la imagen */
}
.btn-card{
    margin: 10px;
    padding: 8px;
    width: 20%;
    border-radius: 30px;
    border: 2px solid #f4f4f4;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}
.btn-card:hover{
    cursor: pointer;
    margin: 6px;
    padding: 9px;
    width: 21%;
    border: 3px solid #f4f4f4;
    background-color: rgba(216, 215, 213, 0.329);
    color: #fff;
    font-size: 19px;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}
/* SCROLL */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #4d382a; /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #b4adb0; /* Color del "pulgar" de la barra de desplazamiento */
    border-radius: 15px; /* Bordes redondeados del pulgar */
}

::-webkit-scrollbar-thumb:hover {
    background: #707070; /* Color del pulgar cuando se pasa el cursor sobre él */
}



/* Estilos para pantallas pequeñas, como móviles */
@media (max-width: 600px) {
    .card {
        position: relative;
        color: #000;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: calc(100% - 10px); /* Tres tarjetas por fila con espacio */
        margin-bottom: 20px;
        transition: transform 0.3s ease;
        height: 58%;
    }
    
    .hero-image-slider {
        position: absolute;
        top: 50%;
        left: 28.2%;
        transform: translate(-50%, -50%);
        width: 130%;
        height: 60%;
        overflow: hidden;
        z-index: 1; /* Asegura que esté por encima del fondo pero debajo del texto */
    }
    
    .hero-image-slider img {
        position: absolute;
        top: 27.8%;
        left: 28%;
        width: 500px;
        height: 300px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease;
    }
    
    .hero-image-slider img.active {
        opacity: 1;
    }
    
    .hero-image-slider img.active {
        opacity: 1;
    }
    
    .nav-links li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        transition: color 0.3s ease;
    }
    
    .nav-links li a:hover {
        color: #644d3a;
    }
    
    .hero-content {
        max-width: 600px;
        margin-top: 5%;
        margin-bottom: 60%;
        padding: 20px 50px;
        text-align: left;
        align-self: flex-start;
        z-index: 2; /* Asegura que esté por encima del fondo pero debajo del texto */
    }
    
    .hero-content h1 {
        font-size: 4rem;
        margin: 10px 0;
    }
    
    .hero-content h2 {
        font-size: 1rem;
        font-weight: 300;
        margin: 0;
    }
    
    .hero-content p {
        margin: 20px 0;
        line-height: 1.5;
    }
    h1{
        font-size: 1rem;
    }
  }
  
  /* Estilos para pantallas medianas, como tabletas */
  @media (min-width: 601px) and (max-width: 1024px) {
    .card {
        position: relative;
        color: #000;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: calc(50% - 10px); /* Tres tarjetas por fila con espacio */
        margin-bottom: 20px;
        transition: transform 0.3s ease;
        height: 58%;
    }
    
    .hero-image-slider {
        position: absolute;
        top: 50%;
        left: 35.2%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 60%;
        overflow: hidden;
        z-index: 1; /* Asegura que esté por encima del fondo pero debajo del texto */
    }
    
    .hero-image-slider img {
        position: absolute;
        top: 27.8%;
        left: 28%;
        width: 500px;
        height: 300px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease;
    }
    
    .hero-image-slider img.active {
        opacity: 1;
    }
    
    .hero-image-slider img.active {
        opacity: 1;
    }
    
  }
  

@media (min-width: 1025px) and (max-width: 1500px) {
    .hero-image-slider {
        position: absolute;
        top: 50%;
        left: 41.2%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 60%;
        overflow: hidden;
        z-index: 1; /* Asegura que esté por encima del fondo pero debajo del texto */
    }
    
    .hero-image-slider img {
        position: absolute;
        top: 27.8%;
        left: 28%;
        width: 500px;
        height: 300px;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1s ease;
    }
    
    .hero-image-slider img.active {
        opacity: 1;
    }
    
    .hero-image-slider img.active {
        opacity: 1;
    }
    
   }