body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: white;
}

.hero-section {
    height: 100vh;
    background-image: url('/modwooder.webp'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #61dafb;
}

.hero-content {
    max-width: 600px;
    margin: 0;
    padding: 20px 50px;
    text-align: left;
    align-self: flex-start;
}

.hero-content h1 {
    font-size: 5rem;
    margin: 10px 0;
}

.hero-content h2 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0;
}

.hero-content p {
    margin: 20px 0;
    line-height: 1.5;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: #61dafb;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #21a1f1;
}
